<header>
    <nav>
        <div class="principal">
            <div class="logotipo">
                <a routerLink="">
                    <img src="../../../assets/Imagens/logo (1).jpg" alt="">
                </a>
                <p>A sua central de eletrônicos e diversão</p>
            </div>
            <div id="divBusca">
                <input type="text" id="txtBusca" placeholder="Buscar..." />
                <img src="../../../assets/Imagens/searchicon.png" id="btnBusca" alt="Buscar" />
            </div>
            <div class="cliente">
                <div class="login">
                    <a routerLink="./login">
                        <p>Login</p>
                    </a>
                    <a href="./cadastro.html">
                        <p>Cadastro</p>
                    </a>
                </div>
                <div class="carrinho">
                    <img src="../../../assets/Imagens/carrinho.png" alt="">
                </div>
            </div>
            <div class="hamburguer" onclick="menulateralmostrar()">
                <img src="../../../assets/Imagens/bars.svg" alt="">
                <div id="navMenu" class="menu-lateral">
                    <a href="./login.html">
                        <p>Login</p>
                    </a>
                    <a href="./cadastro.html">
                        <p>Cadastro</p>
                    </a>
                    <p><a href="">Playstation</a></p>
                    <p><a href="">Xbox</a></p>
                    <p><a href="">PC</a></p>
                    <p><a href="">Games</a></p>
                    <p><a href="">Acessórios</a></p>
                </div>
            </div>
        </div>
        <div class="categorias">
            <p><a href="">Playstation</a></p>
            <p><a href="">Xbox</a></p>
            <p><a href="">PC</a></p>
            <p><a href="">Games</a></p>
            <p><a href="">Acessórios</a></p>
        </div>
    </nav>
</header>