<header>
    <nav class="cabecalho">
        <div class="cabecalho_logotipo">
            <a href="index.html">
                <p>Início</p>
            </a>
            <a href="index.html">
                <img src="../../../assets/Imagens/logo (1).jpg" alt="Logotipo" class="cabecalho_logo">
            </a>    
            <a href="cadastro.html">
                <p>Cadastro</p>
            </a>
        </div>
    </nav>
</header>
<main>
    <div class="container container-personalizado">
        <form action="" class="form-login">
            <div class="linha">
                <label for="">Login</label>
                <input type="text" id="email" placeholder="Seu e-mail" required>
            </div>
            <div class="linha">
                <label for="">Senha</label>
                <input type="password" id="senha" placeholder="******" required>
            </div>
            <div class="linha">
                <button type="button" id="login" class="btn btn-danger">Login</button>
            </div>
        </form>
    </div>
</main>
