<footer>
    <nav class="rodape">
        <div class="rodape-logotipo">
            <img src="../../../assets/Imagens/logo (1).jpg" alt="Logotipo" class="rodape-logo">
        </div>
        <div class="rodape-contato">
            <h2>CONTATO</h2>
            <ul>
                <li>Telefone</li>
                <li>Email</li>
            </ul>
        </div>
        <div class="rodape-duvidas">
            <h2>DÚVIDAS</h2>
            <ul>
                <li>FAQS</li>
                <li>Chat</li>
            </ul>
        </div>
        <div class="rodape-localizacao">
            <h2>LOCALIZAÇÃO</h2>
            <ul>
                <li>Rua XXX, Numero</li>
                <li>Porto Alegre, RS</li>
            </ul>
        </div>
        <div class="rodape-politica">
            <h2>SOBRE GAMEMANIA</h2>
            <ul>
                <li>Quem somos</li>
                <li>Política</li>
            </ul>
        </div>
        <div class="rodape-redes">
            <h2>GAMEMANIA NAS REDES</h2>
            <div class="rodape-redes-icones">
                <img class="face-icone" src="../../../assets/Imagens/face.jpg" alt="facebook">
                <img class="tiktok-icone" src="../../../assets/Imagens/tiktok.jpg" alt="tiktok">
                <img class="insta-icone" src="../../../assets/Imagens/insta.jpg" alt="Instagran">
            </div>
        </div>

    </nav>
</footer>